body{
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background: #5CDB95;
  color: #EDF5E1;
  font-family: 'calibri',sans-serif ;
  font-weight: 400;
}
.container{
  text-align: center;
  background: #05386B;
  padding: 2rem;
  flex: 0 0 70%;
}
#quoteBtn{
  font-size: 1rem;
  padding: 0.50rem 1rem;
  border-radius: 7px;
  outline: none;
}
blockquote{
  margin: 1.5rem;
  padding: 0.5rem;
  border-left: 10px solid #8EE4AF;
}
