body{
  display: flex;
  height: 100vh;
  background: #2D283E;
  justify-content: center;
  align-items: center;
  font-family: monospace;
  font-weight: 400;
}
.container{
  text-align: center;
  background: #d1d7e0;
  flex: 0 0 20%;
  padding: 5rem;
  border-radius: 7px;
}
#btns #decrease{
  border-radius: 100%;
  outline: none;
  background: red;
  color: #fff;
  font-size: 40px;
  padding: 5px 20px 5px 20px;
  float: left;
}
#btns #increase{
  border-radius: 100%;
  outline: none;
  background: green;
  color: #fff;
  float: right;
  font-size: 40px;
  padding: 5px 20px 5px 20px;
}
